<div class="container">
  <h1>User Edit</h1>

  <%= simple_form_for @user do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :age %>
    <%= f.input :picture %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.submit({class: "btn btn-primary"}) %>
  <% end %>
</div>
