<h1>Events#new</h1>

<div class="container">
  <div class="col-lg-4">
    <%= form_for [@organization, @event] do |f| %>

    <div class="form-group">
      <%= f.label :start_date %>
      <%= f.date_field :start_date, start_year: Date.today.year, class:'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :end_date %>
      <%= f.date_field :end_date, start_year: Date.today.year , class:'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :start_time %>
      <%= f.time_field :start_time, class:'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :end_time %>
      <%= f.time_field :end_time, class:'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :details %>
      <%= f.text_area :details, class:'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :spots%>
      <%= f.number_field :spots, class:'form-control' %>
    </div>
    <%= f.submit %>
    <% end  %>
  </div>
</div>
