<div class="nested-fields">
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.input :spots %>
  <%= f.input :details %>
  <%= link_to_remove_association "remove event", f %>
</div>
