<%= simple_form_for @organization, html: { multipart: true } do |f| %>
  <div class="container">
    <h1>Organizations Sign up</h1>
    <hr>
    <div class="col-lg-4">
      <%= f.input :name %>
      <%= f.input :website %>
      <%= f.input :address %>
      <%= f.input :additional, label:'additional info' %>
      <%# f.input :pictures, multiple: true ,as: :text %>
      <div class="form-group">
        <%= f.file_field :pictures, multiple: true , class:'form-control'%>
      </div>
      <h2>Contact person</h2>

      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :phone %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>

      <%= f.simple_fields_for :events do |r| %>
       <%= render 'event_fields', f: r %>
      <% end %>

     <div class="links">
       <%= link_to_add_association 'add event', f, :events %>
     </div>
      <%= f.submit %>
    </div>
  </div>
<% end %>
