<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h1>Organization: <%= @organization.name %></h1>
      <p><strong>Address: </strong><%= @organization.address %></p>
      <p><strong>Website: </strong><a href="http://<%= @organization.website%>"><%= @organization.website %></a></p>
      <h4>Event</h4>
      <% if @event.present? %>
        <div class="well well-lg">
          <p><strong>Start date: </strong><%= @event.start_date.to_date %></p>
          <p><strong>End date: </strong><%= @event.end_date.to_date %></p>
          <p><%= @event.details %></p>
          <p><%= @event.spots - @organization.members.count %></p>
          <% if !current_user.org_memberships.where(organization: @organization).present? %>
            <%= link_to 'Request', organization_org_memberships_path(@organization), class:"btn btn-primary", method: :post %>
          <% else %>
            <%= link_to 'Cancel request', organization_org_membership_path(@organization), class:"btn btn-danger", method: :delete %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class='col-lg-6' >
      <div id="map" style='width: 600px; height: 400px;'></div>
    </div>

  </div>
  <div class="row">
    <h2>Manage requests</h2>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Pending</th>
          <th>Accepted</th>
          <th>Rejected</th>
        </tr>
      </thead>
      <tbody>
        <% for i in (0..@memberships.count) %>
          <tr>
            <td><%=link_to "#{@pending_memberships[i]&.user&.full_name}", user_path() %></td>
            <td><%=link_to "#{@approved_memberships[i]&.user&.full_name}", user_path() %></td>
            <td><%=link_to "#{@rejected_memberships[i]&.user&.full_name}", user_path()%></td>
          </tr>
          <% if @pending_memberships[i].nil? && @approved_memberships[i].nil? && @rejected_memberships[i].nil? %>
            <% break %>
          <% end %>
        <% end  %>
      </tbody>

    </table>
  </div>
</div>







<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%= @organization.latitude %>,
      "lng": <%= @organization.longitude %>,
      "infowindow": "<%= @organization.name %>"
    },
    // {
    //   "lat": <%= @organization.latitude %> + 0.001,
    //   "lng": <%= @organization.longitude %> + 0.001,
    //   "infowindow": "<%= @organization.name %>"
    // },

  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(20);
  });
</script>
