<div class="container">
  <div class="row">

    <div class="col-lg-6">
      <h1>Organization: <%= @organization.name %></h1>
      <p><strong>Address: </strong><%= @organization.address %></p>
      <p><strong>Website: </strong><a href="http://<%= @organization.website%>"><%= @organization.website %></a></p>
      <h4>Event</h4>
      <% if @event.present? %>
        <div class="well well-lg">
          <p><strong>Start date: </strong><%= @event.start_date.to_date %></p>
          <p><strong>End date: </strong><%= @event.end_date.to_date %></p>
          <p><%= link_to 'More info', organization_event_path(@organization, @event) %></p>
          <p><%= @event.spots - @organization.members.count %></p>

          <% if user_signed_in? %>
            <% if !current_user.org_memberships.where(organization: @organization).present? %>
            <%= link_to 'Request', organization_org_memberships_path(@organization), class:"btn btn-primary", method: :post %>
            <% else %>
            <%= link_to 'Cancel request', organization_org_membership_path(@organization), class:"btn btn-danger", method: :delete %>
            <% end %>
          <% end %>

        </div>
      <% end %>
    </div>

    <div class='col-lg-6' >
      <div id="map" style='width: 600px; height: 400px;'></div>
    </div>

  </div>

  <% if organization_signed_in? && @organization == current_organization %>

  <div class="row">
    <h2>Manage</h2>
    <hr>
    <div class="col-lg-4">
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>Pending</th>
          </tr>
        </thead>
        <tbody>
          <% @pending_memberships.each do |member| %>
          <tr>
            <td>
              <%=link_to member.user.full_name, user_path(member.user)%>
              <%= link_to 'Approve',organization_org_membership_membership_path(@organization, member, 1), method: :patch, class: 'btn btn-success btn-xs'  %>
              <%= link_to 'Reject',organization_org_membership_membership_path(@organization, member, 0), method: :patch, class: 'btn btn-danger btn-xs' %>
            </td>
          </tr>
          <% end  %>
          <tbody>
          </table>
        </div>
        <div class="col-lg-4">
          <table class='table table-hover'>
            <thead>
              <tr>
                <th>Approved</th>
              </tr>
            </thead>
            <tbody>
              <% @approved_memberships.each do |member| %>
                <tr><td><%=link_to member.user.full_name, user_path(member.user)%></td></tr>
              <% end  %>
            <tbody>
          </table>
        </div>
        <div class="col-lg-4">
          <table class='table table-hover'>
            <thead>
              <tr>
                <th>Rejected</th>
              </tr>
            </thead>
            <tbody>
              <% @rejected_memberships.each do |member| %>
                <tr><td><%=link_to member.user.full_name, user_path(member.user)%></td></tr>
              <% end  %>
            <tbody>
          </table>
        </div>
  </div>
  <% end  %>

  <div class="row">
    <h2>Reviews</h2>
    <hr>
      <div class="col-lg-6">
        <% @reviews.each do |review| %>
          <p><strong>stars: </strong><%= review.star %></p>
          <p><%= review.body %></p>
          <p><strong><%= review.user.full_name %></strong></p>
          <hr>
        <% end  %>
      </div>
      <% if user_signed_in? %>
        <div class="col-lg-6">
          <%= simple_form_for [@organization, @review] do |f| %>
          <%= f.input :body  %>
          <%= f.input :star %>
          <%= f.submit %>
          <% end  %>
        </div>
      <% end  %>
    </div>
</div>










<!--////////////////////////////////////////////////////////////////////////////  -->
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%= @organization.latitude %>,
      "lng": <%= @organization.longitude %>,
      "infowindow": "<%= @organization.name %>"
    },
    // {
    //   "lat": <%= @organization.latitude %> + 0.001,
    //   "lng": <%= @organization.longitude %> + 0.001,
    //   "infowindow": "<%= @organization.name %>"
    // },

  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(20);
  });
</script>
