<h1>Organizations#show</h1>

Organization: <%= @organization.name %>


  <%= link_to 'Request', organization_org_memberships_path(@organization), class:"btn btn-primary", method: :post %>
  <%= link_to 'Cancel request', organization_org_membership_path(@organization), class:"btn btn-primary", method: :delete %>

  <h3>Pending members</h3>
  <% @pending_memberships.each do |member| %>
    <%= member.user.full_name %>
  <% end  %>

  <h3>Approved members</h3>
  <% @approved_memberships.each do |member| %>
    <%= member.user.full_name %>
  <% end  %>


<h4>Event</h4>
<% if @event.present? %>
  <div class="well well-lg">
    <p><%= @event.start_date.to_date %></p>
    <p><%= @event.details %></p>
    <p><%= @event.spots - @organization.members.count %></p>
  </div>
<% end %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%= @organization.latitude %>,
      "lng": <%= @organization.longitude %>,
      "infowindow": "<%= @organization.name %>"
    },
    // {
    //   "lat": <%= @organization.latitude %> + 0.001,
    //   "lng": <%= @organization.longitude %> + 0.001,
    //   "infowindow": "<%= @organization.name %>"
    // },

  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(20);
  });
</script>
